<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://kit.fontawesome.com/74c4238fc1.js" crossorigin="anonymous"></script>
    <style>
        #disc{
            width: 100%;
        }
        .upload_form{
            margin: 0 , 50px;
        }
    </style>
    <title>Admin Panel</title>
</head>
<body>
    <div class="grid_main">
        <div class="sideNav">        <div class="navigation">
            <span id="close"><i class="fas fa-times-circle"></i></span>
            <ul>
                <li><a href="/admin">Root</a></li>
                <li><a href="/">Home</a></li>
                <li> <a href="/admin/featured"> Featured</a></li>
                <li>Videos <span><i class="fas fa-chevron-down"></i></span>
                    <ul class="sbc">
                        <li><a href="/admin/upload">Upload</a></li>
                        <li><a href="/admin/delete">Delete</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
        <div class="content">
            <div class="header">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms Of Services</a></li>
                    <li><a href="#">Legal Certificates</a></li>
                </ul>
                <h1 class="title">MSK Shakil</h1>
            </div>
            <div class="upload_form">
                <form action="/admin/delete" method="POST"  >
                    <label for="title">ID:</label><br>
                    <input type="text" name="id" required><br><br>
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</body>
</html>