/* variables */
:root{
    --lp: #D7A9E3FF;
    --lb: #8BBEE8FF;
    --lg: #A8D5BAFF;
}body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, var(--lg), var(--lg));
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}
a{
    text-decoration: none;
    color: #000;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--lb);
    margin: 0 50px;
}
.header>h1{
    font-size: 1.3rem;
    justify-self: end;
}
.header>ul{
    padding-left: 0;
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
}
.header>ul>li>a{
    font-size: 0.9rem;
    color: #fff;
    transition: 0.2s;
}
.header>ul>li>a:hover{
    color: #000;
}
.header>.nav-btn{
    display: none;
    transform: scaleX(0);
}
.navigation>ul{
    padding: 0;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4 , 1fr);
}
.navigation>ul>li{
    background-color: var(--lb);
    padding: 20px 30px;
    padding-right: 0;
    box-shadow: 1px 1px 2px #fff;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
}
.navigation>ul>li>a>span{
    margin-left: 5px;
}
.navigation>ul>li>a{
    padding: 20px 0px;
    color: #fff;
}
.navigation>ul>li:hover{
    background-color: #000;
}
.navigation>ul>li:hover>ul{
    transform: scaleY(1);
    opacity: 1;
}
.navigation>ul>li:hover>ul>li>a{
    color: #fff;
}
.sbc{
    width: calc(100% - 40px);
    background-color: var(--lb);
    left: 0;
    top: calc(44px + 0.9rem);
    list-style: none;
    box-shadow: 1px 1px 2px #fff;

}
.sbc{
    transform: scaleY(0);
    position: absolute;
    opacity: 0;
    z-index: 20;
    transition: 0.3s;
    transform-origin: top;
}
.sbc>li{
    padding: 10px 25px;
    color: #ccc;
    box-shadow: 1px 1px 2px #fff;
    margin-left: -40px;
}
.sbc>li:hover{
    background-color: #000;
}
.sbc>li>a{
    padding: 20px 0px;
    color: var(--lb);
    width: 100%;
}
.navigation{
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--lb);
    z-index: 999;
    transform: scaleX(1);
    transition: 0.2s;
    transform-origin: left;
}
.navigation>#close{
    display: block;
    right: 10px;
    position: absolute;
    cursor: pointer;
    font-size: 1.5em;
}
.navigation>ul{
    margin: 0;
    left: 0;
    display: block;
    grid-template-columns: 1fr !important;
    z-index: 10000;
    width: 100%;
    height: 100vh;
}
/* .sbc{
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
} */
.navigation>ul>li>ul{
    /* transform: scale(1) !important; */
    top: 20px;
}
.navigation>ul>li:hover>ul{
    display: block;
    position: relative;
    top: 20px;
    left: 0
    ;
}
.navigation>ul>li>ul
.navigation>ul>li:hover{
    background: var(--lb) !important;
}
.grid_main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.content>.body>h1{
    margin-left: -20px;
    text-align: center;
    margin-top: 50px;
    font-family: serif;
    color: #000;
}
.content>.body>p{
    padding-left: 50px;
    font-size: 1.2em;
    padding-bottom: 40px;
}
.content>.body>p>a{
    color: rgb(255, 0, 0);
}