@media only screen and (max-width: 900px) {
    .editors_choice{
        display: grid;
        grid-template-columns: repeat(2 , 1fr) !important;
    }
    .editors_choice>h1{
        grid-column: 1/3 !important;
    }
}
@media only screen and (max-width: 700px) {
    .header>.nav-btn{
        display: block;
        grid-column: 1/2;
        transform: scaleX(1);
        cursor: pointer;
        font-size: 1.5em;
    }
    .header>ul{
        display: none;
    }
    .featured{
        display: block;
        grid-template-columns: 1fr;
    }
    .editors_choice{
        display: grid;
        grid-template-columns: 1fr !important;
    }
    .editors_choice>h1{
        grid-column: 1/2 !important;
    }
    .editors_choice>.video-card{
        margin: 0 !important;
    }
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 50vw;
        height: 100vh;
        background-color: var(--lb);
        z-index: 999;
        transform: scaleX(0);
        transition: 0.2s;
        transform-origin: left;
    }
    .navigation>#close{
        display: block;
        top: 5px;
        right: 10px;
        position: absolute;
        cursor: pointer;
        font-size: 1.5em;
    }
    .navigation>ul{
        left: 0;
        top: 20px;
        position: fixed;
        display: block;
        grid-template-columns: 1fr !important;
        z-index: 10000;
        width: 50vw;
        height: 100vh;
    }
    /* .sbc{
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
    } */
    .navigation>ul>li>ul{
        /* transform: scale(1) !important; */
        top: 20px;
    }
    .navigation>ul>li:hover>ul{
        display: block;
        position: relative;
        top: 20px;
        left: 0
        ;
    }
    .navigation>ul>li>ul
    .navigation>ul>li:hover{
        background: var(--lb) !important;
    }
    .video.top{
        grid-column: auto !important ;
        grid-row: auto !important;
    }
}